#root {
  height: 100vh;
}
#drum-machine {
  background-color: lightgoldenrodyellow;
  min-height: 100%;
}
.title {
  background-color: rgb(247, 236, 138);
}
.pads-area {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color:rgb(247, 236, 138);
}
.drum-pad {
  border-radius: 15%; 
  border-color: #ffcf00;
  margin: 0.5% 1%;
  width: 30%;
  height: 50px;
  background-color:#e9be06;
}